In [4]:
pip install pandas

Requirement already satisfied: pandas in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from pandas) (2.0.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/sabrinsingh/Library/Python/3.12/lib/python/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in /Users/sabrinsingh/Library/Python/3.12/lib/python/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [16]:
import pandas as pd
import numpy as np

Creating DataFrame using a list

In [6]:
#one dimensional list
lst= ['apple','banana']

In [10]:
df=pd.DataFrame(lst)
df

        0
0   apple
1  banana

In [12]:
type(df)

pandas.core.frame.DataFrame

In [15]:
#two dimensional list
lst= [ ['apple','mango'], ['100','60']   ]

df=pd.DataFrame(lst, columns=['fruits','price'])
df

  fruits  price
0  apple  mango
1    100     60

Creating dataframe using dictionary

In [20]:
myDict = {
    'fruits' :['apple','mango'],
    'price' :[100,60]
}
df=pd.DataFrame(myDict)
df

  fruits  price
0  apple    100
1  mango     60

Creating dataframe from csv file

In [21]:
df=pd.read_csv('data/COVID-19 India Statewise Vaccine Data.csv')
df

,State/UTs,Total Vaccination Doses,Dose1,Dose 2,Dose 1 15-18,Dose 2 15-18,Dose 1 12-14,Dose 2 12-14,Precaution 18-59,Population
0,Andaman And Nicobar,991264,313284,320383,19208,18860,15124,14042,236936,399001
1,Andhra Pradesh,110957430,40645695,43555744,2535344,2527613,1523375,1495445,12054868,91702478
2,Arunachal Pradesh,1924584,861396,748505,59100,44869,40852,28445,81191,1711947
3,Assam,50335778,22550941,20575569,1262520,972402,999552,602283,2108179,35998752
4,Bihar,157293015,62956601,59160917,6240650,5348480,4288630,3403195,12022637,128500364
5,Chandigarh,2291937,1090035,921251,57708,43907,38210,26050,51034,1158040
6,Chhattisgarh,49167939,18956734,18537851,1234990,1053338,1076071,752571,5750424,32199722
7,Dadra And Nagar Haveli And Daman And Diu,1580060,730855,595090,31509,26943,19989,14929,138137,773997
8,Delhi,37409355,16605099,14356077,1008977,870793,683771,490644,2337340,19301096
9,Goa,2874477,1355046,1224544,51734,44551,33265,26640,61965,1521992
10,Gujarat,128105565,49324964,49448078,3131906,2906693,1941624,1677874,13702810,70400153
11,Haryana,45546800,21963352,18749584,1158529,771892,559947,327809,1306744,28900667
12,Himachal Pradesh,15325484,6042660,5783693,331826,309613,272064,235002,1520001,7503010
13,Jammu And Kashmir,24782265,9942707,10388596,876049,861731,553845,517818,965200,14999397
14,Jharkhand,43875944,21310378,16112704,1596112,1125458,1062630,622673,1371673,40100376
15,Karnataka,122152396,50032922,50520795,2816444,2719866,2325476,2151242,6718023,69599762
16,Kerala,57511593,27017714,23803189,1322849,957271,810955,511981,869095,34698876
17,Ladakh,567133,219604,187095,10072,9261,8627,7758,70299,290492
18,Lakshadweep,145313,56914,56019,2911,2782,1988,1724,15990,66001
19,Madhya Pradesh,133940196,54143863,54061656,4194628,3472824,2410962,1698670,10127768,85002417
20,Maharashtra,177977996,84665105,71650189,4119145,3108854,2891273,1870754,5188711,124904071
21,Manipur,3269105,1464399,1226336,109652,68555,75418,44329,115059,3436948
22,Meghalaya,2626010,1332466,1025463,77151,42858,37399,19556,33391,3772103
23,Mizoram,1793298,785860,669572,60098,47010,48360,33595,80888,1308967
24,Nagaland,1739837,837969,684747,59974,40347,26012,19889,26877,2073074
25,Odisha,81545960,31454279,29961065,2195563,1844432,1601002,1206692,10069825,47099270
26,Puducherry,2274059,913046,802234,50694,44614,30873,21251,304200,1646050
27,Punjab,47051166,22361633,19621018,1117510,878056,684148,497396,840406,30501026
28,Rajasthan,115721511,51115413,46586810,3576045,2955043,2343976,1496833,4631834,79502477
29,Sikkim,1360477,539929,509134,30049,26515,21899,19007,158301,658019
30,Tamil Nadu,127533904,56671366,53532301,2627751,2224043,1917151,1465291,6066180,83697770
31,Telangana,77627542,29616909,29076857,1724095,1582421,1107824,906491,10860254,38157311
32,Tripura,5918997,2659018,2328968,144833,115278,112965,79612,273061,4184959
33,Uttar Pradesh,392011174,154096960,147866674,14193665,13227415,8709857,7876085,36643273,231502578
34,Uttarakhand,20143654,8183361,7949246,532982,467836,402314,315985,1417182,11700099
35,West Bengal,156100370,67305396,61606895,3599987,3041540,2622505,2059418,10358494,100896618

Changing the index column ----set_index()

In [23]:
df.set_index('State/UTs')

,Total Vaccination Doses,Dose1,Dose 2,Dose 1 15-18,Dose 2 15-18,Dose 1 12-14,Dose 2 12-14,Precaution 18-59,Population
State/UTs,,,,,,,,,
Andaman And Nicobar,991264,313284,320383,19208,18860,15124,14042,236936,399001
Andhra Pradesh,110957430,40645695,43555744,2535344,2527613,1523375,1495445,12054868,91702478
Arunachal Pradesh,1924584,861396,748505,59100,44869,40852,28445,81191,1711947
Assam,50335778,22550941,20575569,1262520,972402,999552,602283,2108179,35998752
Bihar,157293015,62956601,59160917,6240650,5348480,4288630,3403195,12022637,128500364
Chandigarh,2291937,1090035,921251,57708,43907,38210,26050,51034,1158040
Chhattisgarh,49167939,18956734,18537851,1234990,1053338,1076071,752571,5750424,32199722
Dadra And Nagar Haveli And Daman And Diu,1580060,730855,595090,31509,26943,19989,14929,138137,773997
Delhi,37409355,16605099,14356077,1008977,870793,683771,490644,2337340,19301096
Goa,2874477,1355046,1224544,51734,44551,33265,26640,61965,1521992
Gujarat,128105565,49324964,49448078,3131906,2906693,1941624,1677874,13702810,70400153
Haryana,45546800,21963352,18749584,1158529,771892,559947,327809,1306744,28900667
Himachal Pradesh,15325484,6042660,5783693,331826,309613,272064,235002,1520001,7503010
Jammu And Kashmir,24782265,9942707,10388596,876049,861731,553845,517818,965200,14999397
Jharkhand,43875944,21310378,16112704,1596112,1125458,1062630,622673,1371673,40100376
Karnataka,122152396,50032922,50520795,2816444,2719866,2325476,2151242,6718023,69599762
Kerala,57511593,27017714,23803189,1322849,957271,810955,511981,869095,34698876
Ladakh,567133,219604,187095,10072,9261,8627,7758,70299,290492
Lakshadweep,145313,56914,56019,2911,2782,1988,1724,15990,66001
Madhya Pradesh,133940196,54143863,54061656,4194628,3472824,2410962,1698670,10127768,85002417
Maharashtra,177977996,84665105,71650189,4119145,3108854,2891273,1870754,5188711,124904071
Manipur,3269105,1464399,1226336,109652,68555,75418,44329,115059,3436948
Meghalaya,2626010,1332466,1025463,77151,42858,37399,19556,33391,3772103
Mizoram,1793298,785860,669572,60098,47010,48360,33595,80888,1308967
Nagaland,1739837,837969,684747,59974,40347,26012,19889,26877,2073074
Odisha,81545960,31454279,29961065,2195563,1844432,1601002,1206692,10069825,47099270
Puducherry,2274059,913046,802234,50694,44614,30873,21251,304200,1646050
Punjab,47051166,22361633,19621018,1117510,878056,684148,497396,840406,30501026
Rajasthan,115721511,51115413,46586810,3576045,2955043,2343976,1496833,4631834,79502477
Sikkim,1360477,539929,509134,30049,26515,21899,19007,158301,658019
Tamil Nadu,127533904,56671366,53532301,2627751,2224043,1917151,1465291,6066180,83697770
Telangana,77627542,29616909,29076857,1724095,1582421,1107824,906491,10860254,38157311
Tripura,5918997,2659018,2328968,144833,115278,112965,79612,273061,4184959
Uttar Pradesh,392011174,154096960,147866674,14193665,13227415,8709857,7876085,36643273,231502578
Uttarakhand,20143654,8183361,7949246,532982,467836,402314,315985,1417182,11700099
West Bengal,156100370,67305396,61606895,3599987,3041540,2622505,2059418,10358494,100896618

In [28]:
df.head()

,State/UTs,Total Vaccination Doses,Dose1,Dose 2,Dose 1 15-18,Dose 2 15-18,Dose 1 12-14,Dose 2 12-14,Precaution 18-59,Population
0,Andaman And Nicobar,991264,313284,320383,19208,18860,15124,14042,236936,399001
1,Andhra Pradesh,110957430,40645695,43555744,2535344,2527613,1523375,1495445,12054868,91702478
2,Arunachal Pradesh,1924584,861396,748505,59100,44869,40852,28445,81191,1711947
3,Assam,50335778,22550941,20575569,1262520,972402,999552,602283,2108179,35998752
4,Bihar,157293015,62956601,59160917,6240650,5348480,4288630,3403195,12022637,128500364

In [29]:
df.set_index('State/UTs', inplace=True)
df.tail()

,Total Vaccination Doses,Dose1,Dose 2,Dose 1 15-18,Dose 2 15-18,Dose 1 12-14,Dose 2 12-14,Precaution 18-59,Population
State/UTs,,,,,,,,,
Telangana,77627542,29616909,29076857,1724095,1582421,1107824,906491,10860254,38157311
Tripura,5918997,2659018,2328968,144833,115278,112965,79612,273061,4184959
Uttar Pradesh,392011174,154096960,147866674,14193665,13227415,8709857,7876085,36643273,231502578
Uttarakhand,20143654,8183361,7949246,532982,467836,402314,315985,1417182,11700099
West Bengal,156100370,67305396,61606895,3599987,3041540,2622505,2059418,10358494,100896618

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 36 entries, Andaman And Nicobar to West Bengal
Data columns (total 9 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Total Vaccination Doses  36 non-null     int64
 1   Dose1                    36 non-null     int64
 2   Dose 2                   36 non-null     int64
 3   Dose 1 15-18             36 non-null     int64
 4   Dose 2 15-18             36 non-null     int64
 5   Dose 1 12-14             36 non-null     int64
 6   Dose 2 12-14             36 non-null     int64
 7   Precaution 18-59         36 non-null     int64
 8   Population               36 non-null     int64
dtypes: int64(9)
memory usage: 2.8+ KB

In [34]:
df.describe()

,Total Vaccination Doses,Dose1,Dose 2,Dose 1 15-18,Dose 2 15-18,Dose 1 12-14,Dose 2 12-14,Precaution 18-59,Population
count,3.600000e+01,3.600000e+01,3.600000e+01,3.600000e+01,3.600000e+01,3.600000e+01,3.600000e+01,3.600000e+01,3.600000e+01
mean,6.115204e+07,2.555900e+07,2.400569e+07,1.726729e+06,1.494555e+06,1.147220e+06,9.038605e+05,4.404951e+06,3.971861e+07
std,7.945565e+07,3.235136e+07,3.065844e+07,2.643017e+06,2.410739e+06,1.674575e+06,1.451959e+06,7.040571e+06,5.050913e+07
min,1.453130e+05,5.691400e+04,5.601900e+04,2.911000e+03,2.782000e+03,1.988000e+03,1.724000e+03,1.599000e+04,6.600100e+04
25%,2.287468e+06,1.045788e+06,8.914968e+05,5.975550e+04,4.459825e+04,3.800725e+04,2.649250e+04,1.323675e+05,1.695473e+06
50%,4.064265e+07,1.778092e+07,1.523439e+07,1.063244e+06,8.662620e+05,6.218590e+05,4.940200e+05,1.339208e+06,2.410088e+07
75%,1.121485e+08,4.281551e+07,4.431351e+07,2.558446e+06,2.299936e+06,1.680039e+06,1.472830e+06,6.229141e+06,6.979986e+07
max,3.920112e+08,1.540970e+08,1.478667e+08,1.419366e+07,1.322742e+07,8.709857e+06,7.876085e+06,3.664327e+07,2.315026e+08

In [36]:
df.tail()

,Total Vaccination Doses,Dose1,Dose 2,Dose 1 15-18,Dose 2 15-18,Dose 1 12-14,Dose 2 12-14,Precaution 18-59,Population
State/UTs,,,,,,,,,
Telangana,77627542,29616909,29076857,1724095,1582421,1107824,906491,10860254,38157311
Tripura,5918997,2659018,2328968,144833,115278,112965,79612,273061,4184959
Uttar Pradesh,392011174,154096960,147866674,14193665,13227415,8709857,7876085,36643273,231502578
Uttarakhand,20143654,8183361,7949246,532982,467836,402314,315985,1417182,11700099
West Bengal,156100370,67305396,61606895,3599987,3041540,2622505,2059418,10358494,100896618

Slicing row operation

In [40]:
df[0:2]

,Total Vaccination Doses,Dose1,Dose 2,Dose 1 15-18,Dose 2 15-18,Dose 1 12-14,Dose 2 12-14,Precaution 18-59,Population
State/UTs,,,,,,,,,
Andaman And Nicobar,991264,313284,320383,19208,18860,15124,14042,236936,399001
Andhra Pradesh,110957430,40645695,43555744,2535344,2527613,1523375,1495445,12054868,91702478

In [41]:
df[1:4]

,Total Vaccination Doses,Dose1,Dose 2,Dose 1 15-18,Dose 2 15-18,Dose 1 12-14,Dose 2 12-14,Precaution 18-59,Population
State/UTs,,,,,,,,,
Andhra Pradesh,110957430,40645695,43555744,2535344,2527613,1523375,1495445,12054868,91702478
Arunachal Pradesh,1924584,861396,748505,59100,44869,40852,28445,81191,1711947
Assam,50335778,22550941,20575569,1262520,972402,999552,602283,2108179,35998752